<div class="modal-content">
    <form ng-submit="update()">
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
                <em class="ion-ios-close-empty sn-link-close"></em>
            </button>
            <h4 class="modal-title">Change Password</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="password" placeholder="Old Password" class="form-control" required ng-model="data.oldPassword">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="password" placeholder="New Password" class="form-control" minlength="6" required ng-model="data.newPassword">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <input type="password" placeholder="Confirm Password" class="form-control" minlength="6" required ng-model="data.confirmPassword">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="$dismiss()">Cancel</button>
            <input type="submit" class="btn btn-primary" value="Submit"/>
        </div>
    </form>
</div>
