@import 'common';
//
//// injector
//// endinjector
//
//body{
//    background-color: #ffffff !important;
//}
//.embbed-list{
//    margin: 5px 2px 10px 10px;
//    line-height: 1.5;
//}
//
//.nav-tabs > li {
//    width: 25% !important;
//    text-align: center !important;
//}
//
//.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
//    background-color: #ffffff;
//    color: #7C7C7C !important;
//}
//
//.placed{
//    background-color: #E85656;
//}
//
//.table > thead > tr > th {
//    text-align: center !important;
//    background-color: #f0f3f4 !important;
//}
//.table > tbody{
//    text-align: center !important;
//}
//.tag {
//    color: #fff !important;
//}
//.btn {
//    border-radius: 3px !important;
//}
//.page-top.scrolled {
//    background-color: #f5f5f5 !important;
//}
//.al-sidebar {
//    width: 230px !important;
//    border-right: 1px solid #f0f3f4 !important;
//}
//.al-sidebar-list-item.selected:not(.with-sub-menu) a.al-sidebar-list-link {
//    color: #f0f3f4 !important;
//    font-size: 15px !important;
//}
//#preloader {
//    background: url(../assets/img/logo_sm.png) no-repeat center center;
//}
//.al-main {
//    margin-left: 230px !important;
//    padding-top: 66px !important;
//    padding-bottom: 0px !important;
//    min-height: 0px;
//}
//.min-profile{
//    height:120px !important;
//    margin: 5px !important;
//}
//
//.al-content {
//    padding:0px;
//}
//
//.row{
//    width : 100% !important;
//}
//
//.panel {
//    border-radius: 0px;
//    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.25);
//    height:100% !important;
//    margin-bottom: 0px !important;
//}
//.panel-title {
//    text-transform: none;
//}
//.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
//    background-color: #777777;
//    border-color: #777777;
//}
//button.btn.btn-default:hover, button.btn.btn-default:focus, button.btn.btn-default.focus, button.btn.btn-default:active, button.btn.btn-default.active {
//    background: rgba(255, 255, 255, 0.68);
//}
//button.btn.btn-default {
//    background: #FFFFFF;
//}
//.modal .modal-dialog .modal-body p{
//    color: #544f54 !important;
//}
//.badge {
//    color: #fff !important;
//}
//.inactive{
//    background-color: #F2DEDE !important;
//}
//.sidebar-profile{
//    background-color: #f0f3f4 !important;
//    text-align: center !important;
//}
//.choose-outlet{
//    background-color: #f0f3f4 !important;
//}
//
//.user-profile {
//    min-width: 100px;
//}
//.glyphicon-star:before {
//    color: #efba1a !important;
//    font-size: 45px !important;
//}
//.glyphicon-star-empty:before {
//    font-size: 45px !important;
//}
//.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
//    background-color: #f0f3f4 !important;
//    border-color: #ddd !important;
//    color: #777 !important;
//}
//.label{
//    border-radius: .25em !important;
//
//}
//
//div.large-Modal > div.modal-dialog{
//    border-radius: 0px;
//
//    width:100%; height: 100%;
//    position: absolute;
//    top:0; bottom: 0; left: 0; right: 0;
//    margin: auto
//}
//iframe {
//    display: block;       /* iframes are inline by default */
//    background: #000;
//    border: none;         /* Reset default border */
//    height: 100vh;        /* Viewport-relative units */
//    width: 100vw;
//}
//#graph {
//    width		: 100%;
//    height		: 500px;
//    font-size	: 11px;
//}
//.nav-tabs > li {
//    border-right: 1px solid #f0f3f4 !important;
//}
