@CHARSET "ISO-8859-1";

div.image{
content:url(images/logo.jpg);
height:568px;
width:1000px;
}
#container{
height:718px;
width:1330px;
}
#header{
background-color:#D8BFD8;
height:150px;
width:1330px;
}
#header1{
background-color:#D8BFD8;
height:150px;
width:1000px;
float:left;
}
#header2{
background-color:#D8BFD8;
height:150px;
width:330px;
float:right;
}
#content{
height:568px;
width:1330px;
}
#content1{
height:568px;
width:1000px;
float:left;
}
#content2{
background-color:#F5DEB3;
height:568px;
width:330px;
float:right;
}

