@CHARSET "UTF-8";

.forgotPassword{
	padding-top:30px;
	width: 980px;
	margin: 0 auto;
	background: #fff;
	height:450px;
}
.resetForm{
	font-size:17px;
height:250px;
	background:#ffffff; width:550px; margin:0 auto; padding-left:50px; padding-top:15px;padding-right:50px
	
}
.resetForm input[type=text]{
	height:30px;
	width:300px;
	font-size: 20px;
	
}
.resetForm input[type=submit]{
	height:25px;
	width:150px;
	font-size: 17px;
	
}

