@CHARSET "UTF-8";

.loginform{
	background:#ffffff; width:650px; margin:0 auto; padding-left:50px; padding-top:50px;
}

.loginform fieldset{border:0px; padding:0px; margin:0px;}
.loginform p.contact { font-size: 12px; margin:0px 0px 10px 0; line-height: 20px; font-family:Arial, Helvetica;}

.loginform input[type="text"] { width: 400px; height:30px; }
.loginform input[type="email"] { width: 400px; height:30px;}
.loginform input[type="password"] { width: 400px;height:30px; }
.loginform input.birthday{width:60px;}
.loginform input.birthyear{width:120px;}
.loginform label { color: #292929; font-size: 14px;font-family:Arial, Helvetica; }
.loginform label.month {width: 135px;}
.loginform input, textarea { background-color: rgba(255, 255, 255, 0.4); border: 1px solid #777777; padding: 7px; font-family: Keffeesatz, Arial; color: #666666; font-size: 17px; -webkit-border-radius: 5px; margin-bottom: 15px; }
.loginform input:focus, textarea:focus { border: 1px solid #ff5400; background-color: rgba(255, 255, 255, 1); }
.loginform .select-style{height: 25px;margin-bottom:20px; background-color:#eee}
.loginform .gender {
  width:410px;
  }
.loginform input.buttom{width:100px; background: #909090; display: inline-block; padding: 5px 10px 6px; color: #fbf7f7; text-decoration: none; font-weight: bold; line-height: 1; 0 1px 3px #999; -webkit-box-shadow: 0 1px 3px #999; border: none; position: relative; cursor: pointer; font-size: 14px; font-family:Verdana, Geneva, sans-serif;}
.loginform input.buttom:hover	{ background-color: #87ceff; color:#666666 }

.login {
	width: 980px;
	height:500px;
	margin: 0 auto;
	background: #fff;
	
}

