<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Online_Shop</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.shop.Controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.shop.Controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MobileServlet</display-name>
    <servlet-name>MobileServlet</servlet-name>
    <servlet-class>com.shop.Controller.MobileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MobileServlet</servlet-name>
    <url-pattern>/mobile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Product1</display-name>
    <servlet-name>Product1</servlet-name>
    <servlet-class>com.shop.Controller.Product1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Product1</servlet-name>
    <url-pattern>/Product1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Product2</display-name>
    <servlet-name>Product2</servlet-name>
    <servlet-class>com.shop.Controller.Product2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Product2</servlet-name>
    <url-pattern>/Product2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Product3</display-name>
    <servlet-name>Product3</servlet-name>
    <servlet-class>com.shop.Controller.Product3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Product3</servlet-name>
    <url-pattern>/Product3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Brand1</display-name>
    <servlet-name>Brand1</servlet-name>
    <servlet-class>com.shop.Controller.Brand1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brand1</servlet-name>
    <url-pattern>/Brand1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Brand2</display-name>
    <servlet-name>Brand2</servlet-name>
    <servlet-class>com.shop.Controller.Brand2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brand2</servlet-name>
    <url-pattern>/Brand2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Brand3</display-name>
    <servlet-name>Brand3</servlet-name>
    <servlet-class>com.shop.Controller.Brand3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brand3</servlet-name>
    <url-pattern>/Brand3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Brand4</display-name>
    <servlet-name>Brand4</servlet-name>
    <servlet-class>com.shop.Controller.Brand4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brand4</servlet-name>
    <url-pattern>/Brand4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Brand5</display-name>
    <servlet-name>Brand5</servlet-name>
    <servlet-class>com.shop.Controller.Brand5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brand5</servlet-name>
    <url-pattern>/Brand5</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Brand6</display-name>
    <servlet-name>Brand6</servlet-name>
    <servlet-class>com.shop.Controller.Brand6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brand6</servlet-name>
    <url-pattern>/Brand6</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCartServlet</display-name>
    <servlet-name>AddCartServlet</servlet-name>
    <servlet-class>com.shop.Controller.AddCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCartServlet</servlet-name>
    <url-pattern>/addtocart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutServlet</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>com.shop.Controller.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/LogOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Brand7</display-name>
    <servlet-name>Brand7</servlet-name>
    <servlet-class>com.shop.Controller.Brand7</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brand7</servlet-name>
    <url-pattern>/Brand7</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Brand8</display-name>
    <servlet-name>Brand8</servlet-name>
    <servlet-class>com.shop.Controller.Brand8</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brand8</servlet-name>
    <url-pattern>/Brand8</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Brand9</display-name>
    <servlet-name>Brand9</servlet-name>
    <servlet-class>com.shop.Controller.Brand9</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Brand9</servlet-name>
    <url-pattern>/Brand9</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SunGlasses</display-name>
    <servlet-name>SunGlasses</servlet-name>
    <servlet-class>com.shop.Controller.SunGlasses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SunGlasses</servlet-name>
    <url-pattern>/SunGlasses</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sunglasses</display-name>
    <servlet-name>Sunglasses</servlet-name>
    <servlet-class>com.shop.Controller.Sunglasses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sunglasses</servlet-name>
    <url-pattern>/Sunglasses</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveServlet</display-name>
    <servlet-name>RemoveServlet</servlet-name>
    <servlet-class>com.shop.Controller.RemoveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveServlet</servlet-name>
    <url-pattern>/remove</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet19599</display-name>
    <servlet-name>Servlet19599</servlet-name>
    <servlet-class>com.shop.Controller.Servlet19599</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet19599</servlet-name>
    <url-pattern>/Servlet19599</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Servlet11999</display-name>
    <servlet-name>Servlet11999</servlet-name>
    <servlet-class>com.shop.Controller.Servlet11999</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet11999</servlet-name>
    <url-pattern>/Servlet11999</url-pattern>
  </servlet-mapping>
</web-app>